02.Primitives/main

10.Modules/10.1.visibility/main
10.Modules/10.2.struct_visibility/main
10.Modules/10.3.the_use_declaration/main
10.Modules/10.4.super_and_self/main
10.Modules/10.5.file_hierarchy/split

11.Crates/11.1.Creating_a_library/libapple.rlib
11.Crates/11.1.Creating_a_library/libsome_file.rlib
11.Crates/11.2.Using_a_library/my_exe

