02.Primitives/main
02.Primitives/2.1.Literals_and_operators/main
02.Primitives/2.2.Tuples/main
02.Primitives/2.3.Arrays_and_Slices/main

03.Custom_Types/3.1.Structures/main
03.Custom_Types/3.2.Enums/main
03.Custom_Types/3.2.Enums/3.2.1.use/main
03.Custom_Types/3.2.Enums/3.2.2.C-like/main

04.Variable_Bindings/main
04.Variable_Bindings/4.2.Scope_and_Shadowing/scope
04.Variable_Bindings/4.2.Scope_and_Shadowing/shadow
04.Variable_Bindings/4.3.Declare_first/main
04.Variable_Bindings/4.4.Freezing/main

05.Types/5.1.Casting/main
05.Types/5.2.Literals/main
05.Types/5.3.Inference/main
05.Types/5.4.Aliasing/main

07.Expressions/main

08.Flow_of_Control/8.1.if_else/main
08.Flow_of_Control/8.2.loop/main
08.Flow_of_Control/8.2.loop/8.2.1.Nesting_and_labels/main
08.Flow_of_Control/8.2.loop/8.2.2.Returning_from_loops/main
08.Flow_of_Control/8.3.while/main
08.Flow_of_Control/8.4.for_and_range/range_b_include
08.Flow_of_Control/8.4.for_and_range/range_b_exclude
08.Flow_of_Control/8.4.for_and_range/iterator_iter
08.Flow_of_Control/8.4.for_and_range/iterator_into_iter
08.Flow_of_Control/8.5.match/main

10.Modules/10.1.visibility/main
10.Modules/10.2.struct_visibility/main
10.Modules/10.3.the_use_declaration/main
10.Modules/10.4.super_and_self/main
10.Modules/10.5.file_hierarchy/split

11.Crates/11.1.Creating_a_library/libapple.rlib
11.Crates/11.1.Creating_a_library/libsome_file.rlib
11.Crates/11.2.Using_a_library/my_exe
